/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

 @font-face{
   font-family:text-security-disc;
   font-style:normal;
   font-weight:400;
   src:url(text-security-disc.ttf)
 }

.woocommerce .kyber-icon {
  max-width: 25px;
  padding-left: 3px;
  margin: 0;
}
.woocommerce-Price-currencySymbol, .upcase{
  text-transform: uppercase;
}
.kyber_mini_cart_price{
  margin-left: 22px;
  text-transform: uppercase;
}
.kyber-price{
  font-size: 0.85em;
}

.order-tx-hash {
  word-break: break-all;
}

.kyber_widget .kyber_widget-import-account-content__info-type-image {
  display: inline;
}

.kyber_widget .kyber_widget-import-account-content__private-key-input {
  background-color: #fff !important;
}

.kyber-cart-token-price {
  margin-top: 20px;
  margin-left: 10px;
}